<a href="https://colab.research.google.com/github/xasthon/pandas-deneme/blob/main/notebook649f4a91be.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES
# TO THE CORRECT LOCATION (/kaggle/input) IN YOUR NOTEBOOK,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

import os
import sys
from tempfile import NamedTemporaryFile
from urllib.request import urlopen
from urllib.parse import unquote, urlparse
from urllib.error import HTTPError
from zipfile import ZipFile
import tarfile
import shutil

CHUNK_SIZE = 40960
DATA_SOURCE_MAPPING = 'ifspythondenemesi:https%3A%2F%2Fstorage.googleapis.com%2Fkaggle-data-sets%2F4582840%2F7821724%2Fbundle%2Farchive.zip%3FX-Goog-Algorithm%3DGOOG4-RSA-SHA256%26X-Goog-Credential%3Dgcp-kaggle-com%2540kaggle-161607.iam.gserviceaccount.com%252F20240321%252Fauto%252Fstorage%252Fgoog4_request%26X-Goog-Date%3D20240321T061216Z%26X-Goog-Expires%3D259200%26X-Goog-SignedHeaders%3Dhost%26X-Goog-Signature%3D7124879cf83cd7eb25f32a061745f31037d4a2e76f88975536a6e872488fd6938c15f99305bfcc616000788d26757c1c156e6e1490210c11e926f7dbbd479b59c3a7125bdf10bcfb06d21b012471c6f68e838937095afcbc780fd45fbd43c5b12d429e0f1e102b3f660b14f4cbb47048fad7f900d8aa46f668fde465b421f7b00ac1f381bfbbf9965de9d1cfee89f186032ed9328b85dbbc59e2741ae419feac06362eeff65b72665334a26e4d71db5ecf42f74d817c3764bd5c63f7242bfb86ee50f36251b2b4ad4ed99a22a8985e822250f53e8b7ecf98139c82ea97c835e1ac6b9de5dc0bac9fc37943dbe057ad0ca2722354969447a73709999034183ffb'

KAGGLE_INPUT_PATH='/kaggle/input'
KAGGLE_WORKING_PATH='/kaggle/working'
KAGGLE_SYMLINK='kaggle'

!umount /kaggle/input/ 2> /dev/null
shutil.rmtree('/kaggle/input', ignore_errors=True)
os.makedirs(KAGGLE_INPUT_PATH, 0o777, exist_ok=True)
os.makedirs(KAGGLE_WORKING_PATH, 0o777, exist_ok=True)

try:
  os.symlink(KAGGLE_INPUT_PATH, os.path.join("..", 'input'), target_is_directory=True)
except FileExistsError:
  pass
try:
  os.symlink(KAGGLE_WORKING_PATH, os.path.join("..", 'working'), target_is_directory=True)
except FileExistsError:
  pass

for data_source_mapping in DATA_SOURCE_MAPPING.split(','):
    directory, download_url_encoded = data_source_mapping.split(':')
    download_url = unquote(download_url_encoded)
    filename = urlparse(download_url).path
    destination_path = os.path.join(KAGGLE_INPUT_PATH, directory)
    try:
        with urlopen(download_url) as fileres, NamedTemporaryFile() as tfile:
            total_length = fileres.headers['content-length']
            print(f'Downloading {directory}, {total_length} bytes compressed')
            dl = 0
            data = fileres.read(CHUNK_SIZE)
            while len(data) > 0:
                dl += len(data)
                tfile.write(data)
                done = int(50 * dl / int(total_length))
                sys.stdout.write(f"\r[{'=' * done}{' ' * (50-done)}] {dl} bytes downloaded")
                sys.stdout.flush()
                data = fileres.read(CHUNK_SIZE)
            if filename.endswith('.zip'):
              with ZipFile(tfile) as zfile:
                zfile.extractall(destination_path)
            else:
              with tarfile.open(tfile.name) as tarfile:
                tarfile.extractall(destination_path)
            print(f'\nDownloaded and uncompressed: {directory}')
    except HTTPError as e:
        print(f'Failed to load (likely expired) {download_url} to path {destination_path}')
        continue
    except OSError as e:
        print(f'Failed to load {download_url} to path {destination_path}')
        continue

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ifspythondenemesi/owneraktivitesaatkontrol-subat.xlsm
/kaggle/input/ifspythondenemesi/ifs-subat.xlsx

In [ ]:
dataset = pd.read_excel("/kaggle/input/ifspythondenemesi/owneraktivitesaatkontrol-subat.xlsm")
dataset2 = pd.read_excel("/kaggle/input/ifspythondenemesi/ifs-subat.xlsx")

In [ ]:
df = dataset.copy()
df2 = dataset2.copy()

In [ ]:
df

Empty DataFrame
Columns: [İsim, Project ID, Sub Project ID, Activity ID, Report Code Name, Internal Quantity (Sum), Org Code, tt]
Index: []

In [ ]:
df2

,Employee Name,Account Date,Project ID,Sub Project ID,Activity ID,Report Code Name,Internal Quantity (Sum),Organization Code
0,ABDULAZİZ ÜÇER,2024-02-01,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
1,ABDULAZİZ ÜÇER,2024-02-01,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,9.50,810711
2,ABDULAZİZ ÜÇER,2024-02-02,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
3,ABDULAZİZ ÜÇER,2024-02-02,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,8.00,810711
4,ABDULAZİZ ÜÇER,2024-02-03,GZPTMOD52,GGG,GGG,GENEL,0.66,810711
5,ABDULAZİZ ÜÇER,2024-02-03,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,3.75,810711
6,ABDULAZİZ ÜÇER,2024-02-05,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
...,...,...,...,...,...,...,...,...
15147,ŞERİFE SENA BOZKURT,2024-02-27,OMTTZA,GGG,GGG,GENEL,1.50,8107046
15148,ŞERİFE SENA BOZKURT,2024-02-27,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.00,8107046
15149,ŞERİFE SENA BOZKURT,2024-02-28,OMTTZA,GGG,GGG,GENEL,1.25,8107046
15150,ŞERİFE SENA BOZKURT,2024-02-28,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046
15151,ŞERİFE SENA BOZKURT,2024-02-29,OMTTZA,GGG,GGG,GENEL,1.00,8107046
15152,ŞERİFE SENA BOZKURT,2024-02-29,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.50,8107046
15153,NaN,NaT,NaN,NaN,NaN,NaN,42576.21,NaN

In [ ]:
pd.set_option('display.min_rows', 15)

In [ ]:
df2.head(10)

,Employee Name,Account Date,Project ID,Sub Project ID,Activity ID,Report Code Name,Internal Quantity (Sum),Organization Code
0,ABDULAZİZ ÜÇER,2024-02-01,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
1,ABDULAZİZ ÜÇER,2024-02-01,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,9.50,810711
2,ABDULAZİZ ÜÇER,2024-02-02,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
3,ABDULAZİZ ÜÇER,2024-02-02,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,8.00,810711
4,ABDULAZİZ ÜÇER,2024-02-03,GZPTMOD52,GGG,GGG,GENEL,0.66,810711
5,ABDULAZİZ ÜÇER,2024-02-03,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,3.75,810711
6,ABDULAZİZ ÜÇER,2024-02-05,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
7,ABDULAZİZ ÜÇER,2024-02-05,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,810711
8,ABDULAZİZ ÜÇER,2024-02-06,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
9,ABDULAZİZ ÜÇER,2024-02-06,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,810711

In [ ]:
df2.tail(10)

,Employee Name,Account Date,Project ID,Sub Project ID,Activity ID,Report Code Name,Internal Quantity (Sum),Organization Code
15144,ŞERİFE SENA BOZKURT,2024-02-23,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046
15145,ŞERİFE SENA BOZKURT,2024-02-26,OMTTZA,GGG,GGG,GENEL,1.25,8107046
15146,ŞERİFE SENA BOZKURT,2024-02-26,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046
15147,ŞERİFE SENA BOZKURT,2024-02-27,OMTTZA,GGG,GGG,GENEL,1.50,8107046
15148,ŞERİFE SENA BOZKURT,2024-02-27,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.00,8107046
15149,ŞERİFE SENA BOZKURT,2024-02-28,OMTTZA,GGG,GGG,GENEL,1.25,8107046
15150,ŞERİFE SENA BOZKURT,2024-02-28,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046
15151,ŞERİFE SENA BOZKURT,2024-02-29,OMTTZA,GGG,GGG,GENEL,1.00,8107046
15152,ŞERİFE SENA BOZKURT,2024-02-29,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.50,8107046
15153,NaN,NaT,NaN,NaN,NaN,NaN,42576.21,NaN

In [ ]:
df2.dropna(how='any', inplace=True)     # NaN değerlerin olduğu satırları komple silmek için
df2

,Employee Name,Account Date,Project ID,Sub Project ID,Activity ID,Report Code Name,Internal Quantity (Sum),Organization Code
0,ABDULAZİZ ÜÇER,2024-02-01,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
1,ABDULAZİZ ÜÇER,2024-02-01,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,9.50,810711
2,ABDULAZİZ ÜÇER,2024-02-02,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
3,ABDULAZİZ ÜÇER,2024-02-02,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,8.00,810711
4,ABDULAZİZ ÜÇER,2024-02-03,GZPTMOD52,GGG,GGG,GENEL,0.66,810711
5,ABDULAZİZ ÜÇER,2024-02-03,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,3.75,810711
6,ABDULAZİZ ÜÇER,2024-02-05,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
...,...,...,...,...,...,...,...,...
15146,ŞERİFE SENA BOZKURT,2024-02-26,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046
15147,ŞERİFE SENA BOZKURT,2024-02-27,OMTTZA,GGG,GGG,GENEL,1.50,8107046
15148,ŞERİFE SENA BOZKURT,2024-02-27,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.00,8107046
15149,ŞERİFE SENA BOZKURT,2024-02-28,OMTTZA,GGG,GGG,GENEL,1.25,8107046
15150,ŞERİFE SENA BOZKURT,2024-02-28,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046
15151,ŞERİFE SENA BOZKURT,2024-02-29,OMTTZA,GGG,GGG,GENEL,1.00,8107046
15152,ŞERİFE SENA BOZKURT,2024-02-29,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.50,8107046

In [ ]:
df2.info()
# genel bakış

<class 'pandas.core.frame.DataFrame'>
Index: 15153 entries, 0 to 15152
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Employee Name            15153 non-null  object
 1   Account Date             15153 non-null  datetime64[ns]
 2   Project ID               15153 non-null  object
 3   Sub Project ID           15153 non-null  object
 4   Activity ID              15153 non-null  object
 5   Report Code Name         15153 non-null  object
 6   Internal Quantity (Sum)  15153 non-null  float64
 7   Organization Code        15153 non-null  object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 1.0+ MB

In [ ]:
df2.shape
# kaç satır, sütun var

(15153, 8)

In [ ]:
df2.count()
# herhangi bir satırda NaN değer var mı kontrolü

Employee Name              15153
Account Date               15153
Project ID                 15153
Sub Project ID             15153
Activity ID                15153
Report Code Name           15153
Internal Quantity (Sum)    15153
Organization Code          15153
dtype: int64

In [ ]:
df2.nunique()
# Her bir sütundaki unique değerlerin sayısı

Employee Name              259
Account Date                29
Project ID                  50
Sub Project ID             107
Activity ID                277
Report Code Name            82
Internal Quantity (Sum)     55
Organization Code           69
dtype: int64

In [ ]:
df2.drop('Account Date', axis=1, inplace=True)  # Account Date sütununun silinmesi
df2

,Employee Name,Project ID,Sub Project ID,Activity ID,Report Code Name,Internal Quantity (Sum),Organization Code
0,ABDULAZİZ ÜÇER,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
1,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,9.50,810711
2,ABDULAZİZ ÜÇER,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
3,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,8.00,810711
4,ABDULAZİZ ÜÇER,GZPTMOD52,GGG,GGG,GENEL,0.66,810711
5,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,3.75,810711
6,ABDULAZİZ ÜÇER,GZPTMOD52,GGG,GGG,GENEL,1.00,810711
...,...,...,...,...,...,...,...
15146,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046
15147,ŞERİFE SENA BOZKURT,OMTTZA,GGG,GGG,GENEL,1.50,8107046
15148,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.00,8107046
15149,ŞERİFE SENA BOZKURT,OMTTZA,GGG,GGG,GENEL,1.25,8107046
15150,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046
15151,ŞERİFE SENA BOZKURT,OMTTZA,GGG,GGG,GENEL,1.00,8107046
15152,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.50,8107046

In [ ]:
df['İsim'] = df2['Employee Name']
df['Project ID'] = df2['Project ID']
df['Sub Project ID'] = df2['Sub Project ID']
df['Activity ID'] = df2['Activity ID']
df['Report Code Name'] = df2['Report Code Name']
df['Internal Quantity (Sum)'] = df2['Internal Quantity (Sum)']
df['Org Code'] = df2['Organization Code']

# IFS'ten gelen excel dosyasındaki verilerin, heatmap içeren excel dosyasına kopyalanması

df

,İsim,Project ID,Sub Project ID,Activity ID,Report Code Name,Internal Quantity (Sum),Org Code,tt
0,ABDULAZİZ ÜÇER,GZPTMOD52,GGG,GGG,GENEL,1.00,810711,NaN
1,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,9.50,810711,NaN
2,ABDULAZİZ ÜÇER,GZPTMOD52,GGG,GGG,GENEL,1.00,810711,NaN
3,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,8.00,810711,NaN
4,ABDULAZİZ ÜÇER,GZPTMOD52,GGG,GGG,GENEL,0.66,810711,NaN
5,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,3.75,810711,NaN
6,ABDULAZİZ ÜÇER,GZPTMOD52,GGG,GGG,GENEL,1.00,810711,NaN
...,...,...,...,...,...,...,...,...
15146,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046,NaN
15147,ŞERİFE SENA BOZKURT,OMTTZA,GGG,GGG,GENEL,1.50,8107046,NaN
15148,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.00,8107046,NaN
15149,ŞERİFE SENA BOZKURT,OMTTZA,GGG,GGG,GENEL,1.25,8107046,NaN
15150,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,8107046,NaN
15151,ŞERİFE SENA BOZKURT,OMTTZA,GGG,GGG,GENEL,1.00,8107046,NaN
15152,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.50,8107046,NaN

**Code1 Uygulaması**

In [ ]:
df = df[df.iloc[:, 5] != "0"]
# 6. sütununda (F sütunu) 0 değeri olan satırları siler

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15153 entries, 0 to 15152
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   İsim                     15153 non-null  object
 1   Project ID               15153 non-null  object
 2   Sub Project ID           15153 non-null  object
 3   Activity ID              15153 non-null  object
 4   Report Code Name         15153 non-null  object
 5   Internal Quantity (Sum)  15153 non-null  float64
 6   Org Code                 15153 non-null  object
 7   tt                       0 non-null      object
dtypes: float64(1), object(7)
memory usage: 1.0+ MB

In [ ]:
silinecekler = ["GGG", "PROJ MNGMT","CONTIMPRV","PROG_MNGMT","TSRGELYNTM","PLMSYSTEMS","TKNKEGITIM","BILMSEL ET"]
# Silinmesi gereken kelimeleri içeren liste

for col in [2, 3]:
    df = df[~df.iloc[:, col].isin(silinecekler)]
# 3. ve 4. sütununda (Project ve SubProject) silinecekler listesindeki değerlerden biri olan satırları komple siler.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9185 entries, 1 to 15152
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   İsim                     9185 non-null   object
 1   Project ID               9185 non-null   object
 2   Sub Project ID           9185 non-null   object
 3   Activity ID              9185 non-null   object
 4   Report Code Name         9185 non-null   object
 5   Internal Quantity (Sum)  9185 non-null   float64
 6   Org Code                 9185 non-null   object
 7   tt                       0 non-null      object
dtypes: float64(1), object(7)
memory usage: 645.8+ KB

In [ ]:
silinecekler2 = ["ISGLSTFUAR", "IZIN", "KAPSAMDISI"]
df = df[~df.iloc[:, 1].isin(silinecekler2)]
# 2. sütununda ISGLSTFUAR, IZIN veya KAPSAMDISI yazan satırları siler.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8754 entries, 1 to 15152
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   İsim                     8754 non-null   object
 1   Project ID               8754 non-null   object
 2   Sub Project ID           8754 non-null   object
 3   Activity ID              8754 non-null   object
 4   Report Code Name         8754 non-null   object
 5   Internal Quantity (Sum)  8754 non-null   float64
 6   Org Code                 8754 non-null   object
 7   tt                       0 non-null      object
dtypes: float64(1), object(7)
memory usage: 615.5+ KB

In [ ]:
def update_column_5(value):
    if value.startswith('ILS_HMI'):
        return 'ILS_HMI'
    elif value.startswith('ILS_MNGMNT'):
        return 'ILS_MNGMNT'
    elif value.startswith('ILS_US'):
        return 'ILS_US'
    elif value.startswith('ILS_TR'):
        return 'ILS_TR'
    elif value.startswith('ILS_REL'):
        return 'ILS_REL'
    elif value.startswith('ILS_TD'):
        return 'ILS_TD'
    elif value.startswith('ILS_MAINT'):
        return 'ILS_MAINT'
    elif value.endswith('- DIS GOREV'):
        return value[:-12]
    elif value.endswith('_DISGOREV'):
        return value[:-9]
    elif value.startswith('DIS GOREV -'):
        return value[11:]
    value = value.strip()  # Baştaki ve sondaki boşlukları siler
    return value
df['Report Code Name'] = df['Report Code Name'].apply(update_column_5)

In [ ]:
def update_column_7(value):
    value = str(value)  # Değerler string'e çevrilir (apply fonksiyonu sadece stringlerde çalışmaktadır)
    if value.startswith('810'):
        return 'fnss'
    elif value.startswith('8750403'):
        return 'fnss'
    return value

df['Org Code'] = df['Org Code'].apply(update_column_7)

In [ ]:
df.head(15)

,İsim,Project ID,Sub Project ID,Activity ID,Report Code Name,Internal Quantity (Sum),Org Code,tt
1,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,9.50,fnss,NaN
3,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,8.00,fnss,NaN
5,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,3.75,fnss,NaN
7,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
9,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
11,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
13,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
15,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.00,fnss,NaN
17,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
19,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
21,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
23,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
25,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.00,fnss,NaN
27,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
29,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN

**Code2 Uygulaması**

In [ ]:
df["tt"] = "NaN" # tt adında sütun oluşturulur
df

,İsim,Project ID,Sub Project ID,Activity ID,Report Code Name,Internal Quantity (Sum),Org Code,tt
1,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,9.50,fnss,NaN
3,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,8.00,fnss,NaN
5,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,3.75,fnss,NaN
7,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
9,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
11,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
13,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,NaN
...,...,...,...,...,...,...,...,...
15140,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,fnss,NaN
15142,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.50,fnss,NaN
15144,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,fnss,NaN
15146,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,fnss,NaN
15148,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.00,fnss,NaN
15150,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,fnss,NaN
15152,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.50,fnss,NaN

In [ ]:
for index in reversed(df.index):  # DataFrame indeksleri üzerinde tersine iterasyon
    row = df.loc[index]  # O anki satırın verilerini almak
    # Sütun değerlerini çekelim
    project_id = row['Project ID']
    sub_project_id = row['Sub Project ID']
    activity_id = row['Activity ID']
    report_code_name = row['Report Code Name']
    new_value = ''

    # Koşullar ve karşılık gelen formatlamalar
    if activity_id == "SYSDETAILD":
        if project_id == "AV8":
            new_value = f"{project_id}_{sub_project_id}{activity_id}_{report_code_name}"
        else:
            new_value = f"{sub_project_id}{activity_id}_{report_code_name}"
    elif project_id == "AV8" and sub_project_id == "SYSDETAILD":
        new_value = f"{project_id}_{activity_id}{sub_project_id}_{report_code_name}"
    elif project_id == "AV8" and activity_id != "SYSDETAILD":
        if sub_project_id in ["AHRV", "CONFIG MGT", "ACV", "IFV RCWS", "IFV25"]:
            new_value = f"{project_id}_{sub_project_id}{activity_id}"
        elif sub_project_id == "ILS":
            new_value = f"{project_id}_{sub_project_id}{activity_id}{report_code_name}"
        elif sub_project_id == "PROJ MNGMT":
            new_value = f"{project_id}_{activity_id}"
        elif activity_id == "SYSTEM ENG":
            new_value = f"{project_id}_{sub_project_id}"
        elif activity_id == "SURV":
            new_value = f"{project_id}_{activity_id}{sub_project_id}"
        elif activity_id in ["AHRV", "ACV", "IFV RCWS", "IFV25", "ATGW", "AVS"]:
            new_value = f"{project_id}_{activity_id}{sub_project_id}"
        else:
            new_value = f"{sub_project_id}{activity_id}"
    elif project_id == "STA_LD_SBT" and sub_project_id == "STA_LD_DSG":
        new_value = f"{activity_id}{report_code_name}"
    elif sub_project_id == "PM_ENG_SUP":
        new_value = f"{project_id}{activity_id}"
    elif project_id in ["CONCEPT22", "CONCEPT23"]:
        new_value = f"{project_id}{activity_id}"
    elif project_id == "ADNAN_POC" and sub_project_id == "PROG_MNGMT":
        new_value = f"{project_id}_{activity_id}"
    elif sub_project_id == "INDMT18ILS":
        new_value = f"{sub_project_id}{activity_id}_{report_code_name}"
    elif project_id == "IPO_KVRMSL":
        new_value = f"{project_id}{sub_project_id}"
    elif project_id == "KORKUTS":
        if sub_project_id in ["ELD", "CONFIG MGT"]:
            new_value = f"{project_id}_{sub_project_id}{activity_id}"
        else:
            new_value = f"{project_id}{sub_project_id}"
    elif project_id in ["LOCALARMST", "LOCALSERVO", "M113_RMT", "MINEMAT", "MINSECTEST", "MOT_CONT"]:
        new_value = f"{project_id}{sub_project_id}"
    elif sub_project_id.endswith("ILS") and project_id != "AV8":
        new_value = f"{sub_project_id}{activity_id}_{report_code_name}"
    elif project_id == "SPDSYS":
        if sub_project_id == "SPD_SYS":
            new_value = f"{project_id}{activity_id}"
        elif sub_project_id == "STA_LD_DSG":
            new_value = f"{activity_id}{report_code_name}"
    else:
        new_value = f"{sub_project_id}{activity_id}"

    df.at[index, 'tt'] = new_value

In [ ]:
df.to_excel('guncellenmis_dosya.xlsx', index=False)

In [ ]:
df

,İsim,Project ID,Sub Project ID,Activity ID,Report Code Name,Internal Quantity (Sum),Org Code,tt
1,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,9.50,fnss,GZPTMOD52GR EKP KBL
3,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,8.00,fnss,GZPTMOD52GR EKP KBL
5,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,3.75,fnss,GZPTMOD52GR EKP KBL
7,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,GZPTMOD52GR EKP KBL
9,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,GZPTMOD52GR EKP KBL
11,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,GZPTMOD52GR EKP KBL
13,ABDULAZİZ ÜÇER,GZPTMOD52,GZPTMOD52,GR EKP KBL,TASARIM,7.50,fnss,GZPTMOD52GR EKP KBL
...,...,...,...,...,...,...,...,...
15140,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,fnss,OMTTZA_ILSSNS_ILS_TD and Training- Operator Ma...
15142,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.50,fnss,OMTTZA_ILSSNS_ILS_TD and Training- Operator Ma...
15144,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,fnss,OMTTZA_ILSSNS_ILS_TD and Training- Operator Ma...
15146,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,fnss,OMTTZA_ILSSNS_ILS_TD and Training- Operator Ma...
15148,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.00,fnss,OMTTZA_ILSSNS_ILS_TD and Training- Operator Ma...
15150,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.25,fnss,OMTTZA_ILSSNS_ILS_TD and Training- Operator Ma...
15152,ŞERİFE SENA BOZKURT,OMTTZA,OMTTZA_ILS,SNS_ILS,TD and Training- Operator Manual,7.50,fnss,OMTTZA_ILSSNS_ILS_TD and Training- Operator Ma...

In [ ]:
for index, row in reversed(list(df.iterrows())):
    # Her bir koşul için gerekli işlemleri yap
    if row['Activity ID'] == "SYSDETAILD":
        if row['Project ID'] == "AV8":
            new_value = f"{row['Project ID']}_{row['Sub Project ID']}{row['Activity ID']}_{row['Report Code Name']}"
        else:
            new_value = f"{row['Sub Project ID']}{row['Activity ID']}_{row['Report Code Name']}"

    elif row['Project ID'] == "AV8" and row['Sub Project ID'] == "SYSDETAILD":
        new_value = f"{row['Project ID']}_{row['Activity ID']}{row['Sub Project ID']}_{row['Report Code Name']}"

    elif row['Project ID'] == "AV8" and row['Sub Project ID'] == "SYSDETAILD":
        new_value = f"{row['Project ID']}_{row['Activity ID']}{row['Sub Project ID']}_{row['Report Code Name']}"